.booking-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 100vh;
  padding: 2rem;
  background: black;
  margin-top: -50px;
  color: white;
}

.contact-info-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.contact-subtitle {
  color: #facc15;
  font-weight: 600;
  font-size: 1.1rem;
}

.contact-title {
  font-size: 2rem;
  font-weight: 900;
}

.contact-section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact-icon {
  font-size: 1.8rem;
  color: #facc15;
}

.contact-section h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-section p {
  font-size: 1rem;
}

.contact-form-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-heading {
  font-size: 2rem;
  font-weight: 600;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
  padding:0.3rem;
  font-size: 1rem;
  outline: none;
  width: 100%;
}
.contact-form ::placeholder{
  color: #000000;
}

.contact-form textarea {
  resize: vertical;
  min-height: 1rem;
}

.contact-form input[type="datetime-local"] {
  padding: 0.5rem;
}

.contact-form select {
  padding: 0.5rem;
}

.contact-form button {
  background: #facc15;
  color: black;
  font-weight: bold;
  border: none;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #e0b430;
}

/* Styles for input fields with icons */
.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-left: 2.5rem; /* Creates space for the icon */
}

.input-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: #facc15;
}
