@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


.FormStudentsList{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:auto;
    max-width: fit-content;

    align-content: center; 
    align-items: center;
    table-layout: fixed;
    border-collapse: collapse;
}

.FormStudentsList{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 130px;
    margin-left: 170px;
    padding: 70px;
    border-radius: 20px;
    box-shadow: 0px 5px 6px black;

}
.studentitems td{
    padding: 20px;
}
.studentitems span{
    padding: 5px;
}
