@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  /* background-image: url("./assets/px1.jpg"); */
  background-size: cover;
  background-color: #ffff;
  background-repeat: no-repeat;
}


*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}


